<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="color: #09005B; font-weight: bold; margin-left: 100px;">DECISIONS</a>
    <button style="position: absolute; right: 10px;" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <i class="fa fa-home"></i>
    <button class="btn"><i class="fa fa-bars"></i></button>
    <button class="btn"> <i class="fa fa-bell"></i> </button>
    <button style="position: absolute; right: 10px;" class="btn"> <i class="fa fa-pencil"></i>Get Custom Report</button>


</nav> -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="margin-left: 15px;">
            <a class="navbar-brand" href="#">DECISIONS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button style="width: 50px; height: 50px;" class="btn"><i class="fa fa-list"></i></button>
                </li>
                <li>
                    <button style="width: 50px; height: 50px;" class="btn"><i class="fa fa-bullseye"></i></button>
                </li>
                <li>
                    <button style="width: 50px; height: 50px;" class="btn"> <i class="fa fa-bell"></i> </button>

                </li>
                <!-- <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li> -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>